* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
    background-image: 
    linear-gradient(transparent 23px,
      rgba(220,220,200,.8) 24px,
      transparent 24px),
    linear-gradient(90deg,
      transparent 23px,
      rgba(220,220,200,.8) 24px,
      transparent 24px);
    background-size: 100% 24px, 24px 100%;
    display: flex;
}

#this_contain_header {

  width: 50%;
  height: 100vh;
}

.this_contain_notnav {
 width: 100%;
 display: flex;
 height: 50%;
}

.this_contain-logo {
  background-color: green;
  text-align: center;
}

.this_contain-description {
  background-color: burlywood;
  width: 70%;
}

.this_contain_history {
  background-color: blue;
  width: 30%;
  text-align: center;
}

.show-research-history {
  font-size: 22px;
  color: white;
  font-weight: 500;
  font-stretch: 
}

.this_contain-searchbar {
  display: flex;
  flex-direction:column;
  width: 50%;
  height: auto;
  background-color: gray;
}