* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
    background-image: 
    linear-gradient(transparent 23px,
      rgba(220,220,200,.8) 24px,
      transparent 24px),
    linear-gradient(90deg,
      transparent 23px,
      rgba(220,220,200,.8) 24px,
      transparent 24px);
    background-size: 100% 24px, 24px 100%;
}

#this_contain_header {
  display: flex;
  /* background-color: red; */
  flex-direction: row;

}

.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  
  position: absolute;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 10px #000000;
  background-color: lightgray;
}

.navbar ul {
    display: flex;
    position: relative;
    list-style-type: none;
    margin: 25px;
    /* background-color: red; */
    justify-content: space-between;
    width: 100%
}

.navbar ul li:first-child {
  margin-left: 5%;
}

.navbar ul li:last-child {
display: flex;
flex-direction: column;
justify-content: center;
}

.navbar ul li:last-child img {
  /* margin-top: -5px; */
  margin-bottom: 5px;
}

.research-sport {
  width: 150px;
  height: 20px;
  border-radius: 10px;
}

.user-id {
  /* position: absolute; */
  /* top: 60px; */
  /* right: 45px; */
}

.user-img {
  width: 25px;
  height: 25px;
  /* position: absolute; */
  /* top:25px; */
  /* right: 60px;  */
}