* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-image: linear-gradient(
      transparent 23px,
      rgba(220, 220, 200, 0.8) 24px,
      transparent 24px
    ),
    linear-gradient(
      90deg,
      transparent 23px,
      rgba(220, 220, 200, 0.8) 24px,
      transparent 24px
    );
  background-size: 100% 24px, 24px 100%;
}

#this_contain_header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  background-color:blue;
}

main {
  height: 100%  ;
  background-color: red;
}

.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;

  position: absolute;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 10px #000000;
  background-color: lightgray;
}

.navbar ul {
  display: flex;
  position: relative;
  list-style-type: none;
  margin: 25px;
  /* background-color: red; */
  justify-content: space-between;
  width: 100%;
}

.navbar ul li:first-child {
  margin-left: 5%;
}

.navbar ul li:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar ul li:last-child img {
  /* margin-top: -5px; */
  margin-bottom: 5px;
}

.research-sport {
  width: 150px;
  height: 20px;
  border-radius: 10px;
}


.user-img {
  width: 25px;
  height: 25px;
  /* position: absolute; */
  /* top:25px; */
  /* right: 60px;  */
}

main {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "main image"
    "main image"
    "footer footer";
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 50% 1fr; */
  /* grid-template-rows: 20px; */
}

.this_contain_logo,
.this_contain_notnav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: main;
}

.this_contain_logo {
  grid-row: 1/3;
  grid-column: 1/2;
}


.this_contain_notnav {
  grid-row: 2/3;
  grid-column: 1/2;
}


.this_section_contain_image-grid {
  grid-area: image;
}

footer {
  display: flex;
  grid-row: 3/3;
  grid-area: footer;
}

.this_section_contain_image-grid > img {
  width: 300px;
  height: 300px;
}

.section {
  width: auto;
  height: 500px;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
}

.img {
  max-width: 200px;
  max-height: 200px;
}